@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~swiper/css";
@import "~swiper/css/pagination";

/* Custom toast notifications */
[data-sonner-toaster] {
  display: flex;
  justify-content: center;
  top: 30px !important;
}

.ui-notifications {
  justify-content: center;
  width: auto !important;
  padding: 14px 20px !important;
  background: #d2d7e3 !important;
  color: #0a0a0a !important;
  text-align: center;
  font-family: var(--inter-font), system-ui, sans-serif;
  border-radius: 1.5rem !important;
  box-shadow: none !important;
  border: none !important;
}

.ui-notifications [data-title] {
  font-weight: 600;
}

@media (max-width: 600px) {
  [data-sonner-toaster] {
    display: flex;
    justify-content: center;
    left: 24px !important;
    right: 24px !important;
    top: 24px !important;
    width: auto !important;
  }

  .ui-notifications {
    width: 100% !important;
  }
}

/* Custom scrollbars */
textarea::-webkit-scrollbar {
  width: .5rem;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #efefef;
}

.custom-scrollbar::-webkit-scrollbar {
  width: .5rem;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/* Custom swiper styles */
.swiper-horizontal>.swiper-pagination-bullets {
  bottom: 1.5rem;
  padding: 0 1.5rem;
  gap: 0 1rem;

}

.swiper-pagination {
  display: flex;
}

.swiper-pagination-bullet {
  width: 50%;
  height: 2px;
  border-radius: 9999px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.swiper-pagination-bullet {
  background: #d2d7e3;
}

html.dark .swiper-pagination-bullet {
  background: #7686b7;
}

.swiper-pagination-bullet-active {
  background: #7686b7;
  opacity: 1;
}

html.dark .swiper-pagination-bullet-active {
  background: #efefef;
  opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets {
  gap: 0 0.8rem;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  color-scheme: light;
}

@media (min-width: 1024px) {
  .swiper-horizontal>.swiper-pagination-bullets {
    bottom: 1.75rem;
    padding: 0 1.75rem;
    gap: 0 1rem;
  }
}